.container {
    padding: 2px 16px;
}

img {
    
}

.card {
    /* width: 50%; */
    height: 50vh;
    display: block;
    margin: 10px;
    background-color: rgb(245, 240, 240);
    /* padding: 20px; */
    cursor: pointer;
    transition: transform 0.3s ease-out ;
    /* padding: 10px; */
}

.card:hover {
    transform: scale(0.97);
}
