.cards {
    width: 100%;
    display: grid;
    /* background-color: rgb(236, 234, 234); */
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    width: auto;
    height: auto;
    display: block;
    margin: 10px;
    background-color: rgb(245, 240, 240);
    /* padding: 20px; */
    cursor: pointer;
    transition: transform 0.3s ease-out ;
    /* padding: 10px; */
}

.card:hover {
    transform: scale(0.97);
}

.details {
width: auto;
padding: 10px;
}

.head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3em;
}