@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.cards {
    width: 100%;
    display: grid;
    /* background-color: rgb(236, 234, 234); */
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Ubuntu', 'san-serif';
    padding: 60px;
}

.head {
    font-family: 'Ubuntu', 'san-serif';
    text-align: center;
    font-size: 3em;
}