@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: 'Ubuntu', 'san-serif';
}

/* .nav {
  width: 100%;
  
} */

.subnav {
  margin-right: 10px;
}

.subnav:hover {
  color: lightblue;
  transition: 0.2s;
}

.hero {
  background-color: black;
  min-height: 35vh;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact:hover {
  color: gray;
  text-decoration: underline;
}

.links {
    display: block;
    padding-top: 7px;
}

